@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Manrope:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-cream: #FAF9F6;
  --color-navy: #0B2545;
  --color-gold: #C5A059;
  --font-cairo: "Cairo", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-cream);
    color: var(--color-navy);
  }
}

